pkgbase = python-zipp
	pkgdesc = Pathlib-compatible object wrapper for zip files
	pkgver = 3.17.0
	pkgrel = 1
	url = https://github.com/jaraco/zipp
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-enabler
	checkdepends = python-pytest-mypy
	checkdepends = python-jaraco.itertools
	checkdepends = python-more-itertools
	checkdepends = python-big-o
	checkdepends = python-pytest-ignore-flaky
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/jaraco/zipp.git#commit=5c59b561f5b79631a846b8823d5033cc1407b511
	sha512sums = SKIP

pkgname = python-zipp
